.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 30;
  color: rgba(255, 255, 255, 0.75);
}
.circle.and_dev {
  background-image: conic-gradient(#90EE90 96%, #5008bd 0);
}
.circle.web_dev {
  background-image: conic-gradient(#f28def 80%, #5008bd 0);
}
.circle.html {
  background-image: conic-gradient(#f06529 78%, #5008bd 0);
}
.circle.css {
  background-image: conic-gradient(#0066ff 46%, #5008bd 0);
}
.circle.python {
  background-image: conic-gradient(#000099 66%, #5008bd 0);
}
