@import "nav-bar.css";
@import "../Fonts/fonts.css"

.white_t {
color: white;
}
.about,h1 {
text-align: center;
}
.about_hr {
background-color: #8800c7;
border: 3px solid #8800c7;
width: 80px;
height: 2px;
border-radius: 10px
}
.a-section {
text-decoration: none;
}
.about_img {
border-radius: 93px;
height: 230px;
}
.skills {
background-color: #8800c7;
padding-top: 5%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
}
.skills_hr {
background-color: #fff;
border: 3px solid #fff;
width: 80px;
height: 2px;
border-radius: 10px
}
#android {
accent-color: lightgreen;
}
#html5 {
accent-color: orange;
}
#py {
accent-color: #000099;
}
input {
width: 60%;
padding:10px;
border-radius:30px;
}
.sub_but {
background-color: #17D602;
width: 100%;
}
